@mixin flex($align, $justify, $direction, $wrap) {
  display: flex;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

$breakpoints: (
  'sm': 600px,
  'md': 960px,
  'lg': 1280px,
);